In [130]:
# https://pandas.pydata.org/pandas-docs/stable/10min.html
import pandas as pd

xls = pd.ExcelFile('reactions_and_metabolites_iCW773.xlsx')

reactions = xls.parse('reactions')
metabolites = xls.parse('metabolites')

reactions.head()

,Abbreviation,Description,Reaction,GPR,Genes,Proteins,Subsystem,Reversible,Lower bound,Upper bound,Objective,Confidence Score,EC Number,Notes,References,Unnamed: 15,Unnamed: 16
0,ALAR,alanine racemase,ala-L[c] <=> ala-D[c],cg0681,cg0681,alr,Alanine and Aspartate Metabolism,1,-1000.0,1000,0,0,5.1.1.1,KEGG,NaN,-0.0 ± 2.0,-0.0 ± 2.0
1,ALATA_L,L-alanine transaminase,glu-L[c] + pyr[c] <=> ala-L[c] + akg[c],cg3149,cg3149,NaN,Alanine and Aspartate Metabolism,1,-1000.0,1000,0,0,2.6.1.2,KEGG,NaN,NaN,NaN
2,ASNN,L-asparaginase,h2o[c] + asn-L[c] -> asp-L[c] + nh4[c],cg2352,cg2352,ansA,Alanine and Aspartate Metabolism,0,0.0,1000,0,0,3.5.1.1,KEGG,NaN,-33.5 ± 7.0,-16.4 ± 7.0
3,ASNS1,asparagine synthase (glutamine-hydrolysing),atp[c] + h2o[c] + asp-L[c] + gln-L[c] -> h[c]...,cg2410,cg2410,ltsA,Alanine and Aspartate Metabolism,0,0.0,1000,0,0,6.3.5.4,KEGG,NaN,-46.6 ± 7.2,-29.5 ± 7.2
4,ASNS2,asparagine synthetase,atp[c] + asp-L[c] + nh4[c] -> h[c] + amp[c] +...,cg2410,cg2410,NaN,Alanine and Aspartate Metabolism,0,0.0,1000,0,0,6.3.1.1,KEGG,NaN,-18.1 ± 7.1,-18.1 ± 7.1

In [131]:
xls2 = pd.ExcelFile('lysine_overproduction_in_iCW773.xlsx')

ul_bounds = xls2.parse('iCW773')
ul_bounds.head()

,Abbreviation,Reaction,Subsystem,Modification Suggestion,Direction,WideType Lower Bounds,WideType Upper Bounds,OverProduction-type Lower Bounds,OverProduction-type Upper Bounds
0,ALAR,ala-L[c] <=> ala-D[c],Alanine and Aspartate Metabolism,NaN,NaN,1.293856e-24,4.613397,0.000769,0.183027
1,ALATA_L,glu-L[c] + pyr[c] <=> ala-L[c] + akg[c],Alanine and Aspartate Metabolism,NaN,NaN,1.293823e-24,4.613397,0.003938,0.187498
2,ASNN,h2o[c] + asn-L[c] -> asp-L[c] + nh4[c],Alanine and Aspartate Metabolism,NaN,NaN,0.000000e+00,58.045718,0.000000,3.052816
3,ASNS1,h2o[c] + asp-L[c] + atp[c] + gln-L[c] -> glu-...,Alanine and Aspartate Metabolism,NaN,NaN,0.000000e+00,29.022859,0.000000,1.526869
4,ASNS2,asp-L[c] + nh4[c] + atp[c] -> asn-L[c] + h[c]...,Alanine and Aspartate Metabolism,NaN,NaN,0.000000e+00,58.045718,0.000000,3.053737

In [132]:
ul_bounds_simple = ul_bounds[['Abbreviation', 'WideType Lower Bounds', 'WideType Upper Bounds', 
                              'OverProduction-type Lower Bounds', 'OverProduction-type Upper Bounds']]
ul_bounds_simple.head()

,Abbreviation,WideType Lower Bounds,WideType Upper Bounds,OverProduction-type Lower Bounds,OverProduction-type Upper Bounds
0,ALAR,1.293856e-24,4.613397,0.000769,0.183027
1,ALATA_L,1.293823e-24,4.613397,0.003938,0.187498
2,ASNN,0.000000e+00,58.045718,0.000000,3.052816
3,ASNS1,0.000000e+00,29.022859,0.000000,1.526869
4,ASNS2,0.000000e+00,58.045718,0.000000,3.053737

In [137]:
reactions_bounds = pd.merge(ul_bounds_simple, reactions, on=['Abbreviation'])

reactions_bounds.shape

(1207, 21)

In [138]:
print(reactions['Abbreviation'].shape, reactions_bounds['Abbreviation'].shape)
ttt = reactions['Abbreviation'].isin(reactions_bounds['Abbreviation'])

(ttt == 0).any()
ttt[(ttt == 0)]

(1207,) (1207,)

Series([], Name: Abbreviation, dtype: bool)

In [139]:
ttt[115]
reactions['Abbreviation'][115]

reactions['Abbreviation'][115]

'CG_biomass_cgl_ATCC13032'